<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Default Page</title>

</head>
<body>
<p th:text="${text}">Text</p>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<div sec:authorize="hasRole('MEMBER')">
    Member is logged in.
    <a th:href="@{/private}">Go to Private page</a>
    <form th:action="@{/csrftest}" method="post">
        <div><input type="submit" value="CSRF TEST"/></div>
    </form>
</div>

<div sec:authorize="isAnonymous()">
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</div>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>